*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .header{
    background-image: url(../img/header-background.jpg);
}

.logo{
    width: 10em;
}

h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}

hr{
    padding: 0;
    margin: 0;
}

.nav__container{
    padding: 0;
    margin: 0;
}

.carousel{
    margin: 2em;
    
}

.carousel-item img {
    height: 250px;
    max-height: 250px;
    object-fit:cover;
}

.article-latest{
    margin: 1em 0;
    padding-bottom: 0.5em;
    border-bottom: 0.3px rgb(66, 64, 64) solid;
    overflow: hidden;
    height: 250px;
    margin-left: 2em;
}

.article-img{
    margin-right: 1em;
    height: 100%;
    width: 33%;
    object-fit: cover;
}

.article-text{
    max-height: 100%;
    width: 75%;
}

.separator__section-aside{
    border-left: 0.5px black solid;
    padding-left: 1em;
}

.destacados-index{
    padding: 2em;
}

footer{
    padding: 1em;
}

.footer-title{
    color: white;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: none;
    padding: none;
}

footer ul li{
    margin: 0.3em;
}

footer ul a{
    text-decoration: none;
    color: white;
}

.logos-redes{
    width: 2rem;
    margin-right: 0.4em;
}

.img-up{
    width: 5em;
    position: fixed;
    right: 2em;
    bottom: 2em;
}

.pages-newslist ol{
    border-left: black 0.5px solid;
}

.pages-newslist h3{
    font-size: 1.3rem;
}

/* card-destacados controla tarjeta */
.card-destacados{
    height: 24rem;
}

/* card-img controla la img dentro */
.card-img{
    height: 100%;
}